html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset Links */
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #f0f0f0;
  border: none;
  outline: none;
  padding: 1rem;
}


/* Link Styles */
a:hover {
  background-color: #00b4b4;
}